/* CUSTOM CSS */


.reveal {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #222; }

::selection {
  color: #fff;
  background: #ea5480;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1.2;
  word-wrap: break-word; 
}

.reveal h1 {
  font-size: 2.5em; 
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1em; }

.reveal h4 {
  font-size: 0.8em; }

.reveal h1 {
  text-shadow: none; }


/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.6em;
  line-height: 1.3; }


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none; }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  box-shadow: 0 0 5px rgba(0, 47, 167, 0.1);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  box-shadow: 0 0 20px rgba(234, 84, 128, 0.55);
  border-bottom: 0;
  text-decoration: none; }



/*********************************************
 * table
 *********************************************/

table#header {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
	align: workaround;
	width: 100%; 
	font-size: 0.4em;
	margin-top: -50px;
	margin-bottom: 100px;
}

table#header th {
	font-weight: 100;
}

table#header td {
}


.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: center;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }


/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #002fa7;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #ea5480;
  text-shadow: none;
  border: none; }



.reveal h1{text-shadow:none; text-transform: none;}
.reveal h2{text-shadow:none; text-transform: none;}


/*OVERWRITING REVEAL.JS STYLES*/

div.leaflet-layer img{
	margin: 0;
	background: none;
	border: none;
	box-shadow:none;
	max-height: none;
}

.reveal .slides section{
}

.reveal .progress span {
	background-color:#002fa7;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #002fa7;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #002fa7;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #002fa7;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #002fa7;
}

.reveal .controls div.left.enabled:hover {
  border-right-color: #ea5480;
}

.reveal .controls div.right.enabled:hover {
  border-left-color: #ea5480;
}

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #ea5480;
}

.reveal .controls div.down.enabled:hover {
  border-top-color: #ea5480;
}
